@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    scrollbar-gutter: stable;
}

:root {
    --secondary-color: #feceda;
    --sidebar-hover-opacity: rgba(218, 12, 129, 0.25);
    --primary-color: #da0c81;
    --text-color: #161347;
    --white-color: #ffffff;
}

body {
    color: var(--text-color);    
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  cursor: default;
}

.bg-pink {
    background-color: var(--primary-color) !important;
   
}
.bg-pink:hover {
    background-color: #7c0649 !important;
}

.bg-light-pink {
    background-color: var(--secondary-color) !important;
}

.main-content {
    min-height: 100vh;
    width: 100%;
    left: 0 !important;

    .bi {        
        font-size: 1.5rem;
    }
}

.modal-footer {
    border-top: none;
}
.modal-header {
    border-bottom: none;
}



/* navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
    background-color: var(--primary-color);
    color: var(--white-color);
    & span {
        color: var(--white-color);
    }
}
/* navbar ends */

.d-none {
    display: none !important;
}

@media (min-width: 1023px) {
    .navbar {
        width: 80%;
        left: 20%;
    }
    .main-content {
        width: 80%;
        left: 20% !important;
        position: absolute;
    }
    .btn-offcanvas {
    display: none;
    }
    .sidebar {
        display: block !important;
    }
}


/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%; 
    height: 100vh;
    background-color: var(--secondary-color);
    color: var(--text-color);
    justify-content: space-between;
    display: none;
}

.nav-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        background-color: var(--sidebar-hover-opacity);
        color: inherit;
    }
}

.sidenav {
    position: relative;
    height: 100vh;
}

.sidebar .bi {
    margin-right: 15px;
}
/* Sidebar ends */





/* login */
.card {
    background-color: var(--secondary-color);
}

.btn-login {
    background-color: var(--primary-color) !important;
    color: #fff !important;

    &:hover {
        background-color: #7c0649 !important;
    }
}

.forgot-password a:hover {
    color: var(--primary-color) !important;
    text-decoration: underline !important;
}
/* login ends */





/* Tabel  */
.table-responsive {
    /* width: 1016px; */
    overflow-x: auto;
}
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px !important;
    overflow: hidden;
}
thead th {
    background-color: #fff !important;
    border: 2px solid #000;
    border-right: 0px;
    border-left: 0px;
    white-space: nowrap;
    color: var(--primary-color);
}

thead th:first-child {
    border-left: 2px solid #000;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

thead th:last-child {
    border-right: 2px solid #000;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

tbody td {
    color: var(--text-color) !important;
}
.table>:not(caption)>*>* {
    background-color: var(--secondary-color);
}
/* Tabel ends  */

.text-20 {
    font-size: 1.25rem;
}

textarea {
    min-height: 175px !important;
}

#addNewField, #addNewFieldEdit {    
    transition: 0.4s;
}

#addNewField:hover, #addNewFieldEdit:hover {
    transform: translateY(-4px);    
}
